body {
  font-family: IBM, monospace;
}

main {
  display: flex;
  justify-content: center;
}

table {
  width: auto;
}

p.subtitle {
  font-size: 12px;
}

span.key {
  color:#4F86EA;
}

span.value {
  color: #D7875A;
}