body {
  font-family: IBM, monospace;
}

main {
  display: flex;
  justify-content: center;
}

table {
  width: auto;
}

td {
  max-width: 300px;
  overflow-x: auto;
}

p.subtitle {
  font-size: 12px;
}

span.key {
  color:#4F86EA;
}

span.value {
  color: #D7875A;
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: calc(100vw - 20%);
  position: fixed;
  top: 30%;
  text-align: center;
  background-color: #212121;
  min-width: 500px;
  max-height: 300px;
  border: solid 1px;
}

dialog > p {
  text-align: justify;
  border: solid 1px #FFFFFF12;
  padding: 1rem;
}

.close-dialog {
  cursor: pointer;
}

.close-dialog:hover {
  text-decoration: underline;
}

div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000C9;
}
